//common css for all pages
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ecf0f1;
}

span{
    display : block
}
.title{
    font-size: large;
    color: brown;
}
img{
    max-width: 100%;
}
.whole-container{
  margin : 1rem
}