//@TABLE
$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;
$color-form-hover: #D3D3D3;

table {
  width:80%;
	border:1px solid $color-form-highlight;

}
  
.table-header {
	background:rg#acc8db(129, 129, 129);
	padding:($half-spacing-unit * 1.5) 0;
    background-color: #acc8dd;
    th {
        font-size: 1.0rem;
        font-weight: bold;
    }
}

.table-row {
	padding:($half-spacing-unit * 0.2) 0;
    &:hover {
        background-color: $color-form-hover;
        cursor: pointer;
    }
	&:nth-of-type(even) {
		background:$color-form-highlight;
        &:hover {
            background-color: $color-form-hover;
            cursor: pointer;
        }
	};
    td {
        font-size: 0.85rem;
        font-weight: 500;
        margin : 0px;
        padding : 3px;
    };

}

.table-pagination {
    background-color: #D3D3D3;
}

